<a href="https://colab.research.google.com/github/Jomaleesmith/HUDS/blob/main/Code%20Review%20Weeks%201-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Print Statements vs. Calling a variable.
The print statement specifically prints, to screen, the contents of the statement. This is the information located within the parentheses. This can be a combination of elements including string statements, numeric values, formatted text, or the contents of a list or dictionary.

Calling a variable is a way of using the information stored in the variable for manipulation or in a method. when you call the variable with a method it will perform the action on the contents of the variable. When you type the variable name you are calling the variable. If no method is associated with the variable call it will display the contents of the variable to screen.

These are often thought to be the same but are actually different actions.

In [2]:
# Let's generate a basic print statement
print("This is a string value.")

This is a string value.

In [10]:
# Let's create a variable then call the variable
universityName = "Howard University"
universityName
# Calling the variable without a method displays the variable contents.

'Howard University'

Take not that the variable value is enclosed in quotes indicating it is a string value.

In [3]:
# Print statements accept the variable name to display the contents.
print(universityName)

Howard University

Take note that the print statement produces just the value without any indication to the data type.

In [4]:
# This works for numeric values too.
# Take note that the numeric value is NOT enclosed in quotes.
foundingYear = 1867
foundingYear

1867

In [5]:
# Calling a variable with a method.
universityName.upper()

'HOWARD UNIVERSITY'

In [6]:
# The previous method showed the use of the .upper() method
# We did not assign this back to the original variable
# The original variable remains unchanged.
universityName

'Howard University'

In [7]:
# To change the variable we assign the .upper() method to the variable.
universityName = universityName.upper()

In [8]:
# Now let's call the variable to see the result.
universityName

'HOWARD UNIVERSITY'

In [9]:
# You can also combine these methods with print statements
# Note: this does not change the stored variable value, just print the result.
print(universityName.capitalize())

Howard university

# Python Files
Importing files into python uses the `.read()`, `.write()`, and others. As Data Scientists we prefer to use the Pandas library to read the content of the files into a dataframe. The dataframe is a tabular format of the data that we can manipulate in many ways making it more versatile than reading files.

You can import many different file types including .csv, .xlsx, .json, and even image and audio file types. Pandas has methods for each file type. Read more about the Pandas supported import file types here: https://pandas.pydata.org/docs/user_guide/io.html

Python can even read files directly from github or other repositories. This prevents the need to store very large files on your local computer and enables cloud storage and import of those files directly from the source. This is especially useful when the files are updated with frequency and the latest data is needed for your analysis.

In [18]:
# Begin by importing the libraries
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive' ,force_remount=True)
us_covid = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/us_covid_19.csv")
us_covid.head()

MessageError: Error: credential propagation was unsuccessful

In [ ]:
# Install the UCI Repo Connection Library
pip install ucimlrepo

In [ ]:
# Import the UCI Repo Connection Library
from ucimlrepo import fetch_ucirepo

# fetch El Nino Weather Stations dataset
el_nino = fetch_ucirepo(id=122)

# data (as pandas dataframes)
remoteStations = el_nino.data.features

# metadata
print(el_nino.metadata)

# variable information
print(el_nino.variables)

{'uci_id': 122, 'name': 'El Nino', 'repository_url': 'https://archive.ics.uci.edu/dataset/122/el+nino', 'data_url': 'https://archive.ics.uci.edu/static/public/122/data.csv', 'abstract': 'The data set contains oceanographic and surface meteorological readings taken from a series of buoys positioned throughout the equatorial Pacific.', 'area': 'Climate and Environment', 'tasks': ['Other'], 'characteristics': ['Other'], 'num_instances': 178080, 'num_features': 11, 'feature_types': ['Integer', 'Real'], 'demographics': [], 'target_col': None, 'index_col': ['obs'], 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1999, 'last_updated': 'Sat Mar 16 2024', 'dataset_doi': '10.24432/C5WG62', 'creators': [], 'intro_paper': None, 'additional_info': {'summary': "This data was collected with the Tropical Atmosphere Ocean (TAO) array which was developed by the international Tropical Ocean Global Atmosphere (TOGA) program. The TAO array consists of nearly 70 moored buoys spanning the equatorial Pacific, measuring oceanographic and surface meteorological variables critical for improved detection, understanding and prediction of seasonal-to-interannual climate variations originating in the tropics, most notably those related to the El Nino/Southern Oscillation (ENSO) cycles. \r\n\r\nThe moorings were developed by National Oceanic and Atmospheric Administration's (NOAA) Pacific Marine Environmental Laboratory (PMEL). Each mooring measures air temperature, relative humidity, surface winds, sea surface temperatures and subsurface temperatures down to a depth of 500 meters and a few a of the buoys measure currents, rainfall and solar radiation. The data from the array, and current updates, can be viewed on the web at the this address . \r\n\r\nThe El Nino/Southern Oscillation (ENSO) cycle of 1982-1983, the strongest of the century, created many problems throughout the world. Parts of the world such as Peru and the Unites States experienced destructive flooding from increased rainfalls while the western Pacific areas experienced drought and devastating brush fires. The ENSO cycle was neither predicted nor detected until it was near its peak. This highlighted the need for an ocean observing system (i.e. the TAO array) to support studies of large scale ocean-atmosphere interactions on seasonal-to-interannual time scales. \r\n\r\nThe TAO array provides real-time data to climate researchers, weather prediction centers and scientists around the world. Forcasts for tropical Pacific Ocean temperatures for one to two years in advance can be made using the ENSO cycle data. These forcasts are possible because of the moored buoys, along with drifting buoys, volunteer ship temperature probes, and sea level measurements. \r\n\r\nResearch questions of interest include: \r\n\r\n- How can the data be used to predict weather conditions throughout the world? \r\n- How do the variables relate to each other? \r\n- Which variables have a greater effect on the climate variations? \r\n- Does the amount of movement of the buoy effect the reliability of the data? \r\n- When performing an analysis of the data, one should pay attention the possible affect of autocorrelation. Using a multiple regression approach to model the data would require a look at autoregression since the weather statistics of the previous days will affect today's weather. \r\n\r\nThe data is stored in an ASCII files with one observation per line. Spaces separate fields and periods (.) denote missing values. \r\n\r\nMore information and data from the TAO array can be found at the Pacific Marine Environmental Laboratory TAO data webpage: http://www.pmel.noaa.gov/toga-tao/\r\n\r\nInformation on storm data is available here: http://www.ncdc.noaa.gov/pdfs/sd/sd.html. This site contains data from January 1994 to April 1998 in a chronological listing by state provided by the National Weather Service. The data includes hurricanes, tornadoes, thunderstorms, hail, floods, drought conditions, lightning, high winds, snow, and temperature extremes. \r\n\r\nHurricane tracking data for the Atlantic is available here: http://wxp.eas.purdue.edu/hur_atlantic/. The site contains a map showing the paths of the Atlantic hurricanes and also includes the storms winds (in knots), pressure (in millibars), and the category of the storm based on Saffir-Simpson scale. \r\n\r\nAnother site of interest related to the ENSO cyles is available here: http://www.cpc.ncep.noaa.gov/products/analysis_monitoring/ensostuff/current_impacts/precip_accum.html. This site contains information on twelve areas of the world that have demonstrated ENSO-precipitation relationships. Included in the site are maps of the areas and time series plots of actual daily precipitation and accumulated normal precipitation for the areas. \r\n", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'The data consists of the following variables: date, latitude, longitude, zonal winds (west<0, east>0), meridional winds (south<0, north>0), relative humidity, air temperature, sea surface temperature and subsurface temperatures down to a depth of 500 meters. Data taken from the buoys from as early as 1980 for some locations. Other data that was taken in various locations are rainfall, solar radiation, current levels, and subsurface temperatures. \r\n\r\nThe latitude and longitude in the data showed that the bouys moved around to different locations. The latitude values stayed within a degree from the approximate location. Yet the longitude values were sometimes as far as five degrees off of the approximate location. \r\n\r\nLooking at the wind data, both the zonal and meridional winds fluctuated between -10 m/s and 10 m/s. The plot of the two wind variables showed no linear relationship. Also, the plots of each wind variable against the other three meteorolgical data showed no linear relationships. \r\n\r\nThe relative humidity values in the tropical Pacific were typically between 70% and 90%. \r\n\r\nBoth the air temperature and the sea surface temperature fluctuated between 20 and 30 degrees Celcius. The plot of the two temperatures variables shows a positive linear relationship existing. The two temperatures when each plotted against time also have similar plot designs. Plots of the other meteorological variables against the temperature variables showed no linear relationship. \r\n\r\nThere are missing values in the data. As mentioned earlier, not all buoys are able to measure currents, rainfall, and solar radiation, so these values are missing dependent on the individual buoy. The amount of data available is also dependent on the buoy, as certain buoys were commissioned earlier than others. \r\n\r\nAll readings were taken at the same time of day. \r\n\r\n', 'citation': None}}
         name     role        type demographic description units  \
0         obs       ID     Integer        None        None  None
1        year  Feature     Integer        None        None  None
2       month  Feature     Integer        None        None  None
3         day  Feature     Integer        None        None  None
4        date  Feature        Date        None        None  None
5    latitude  Feature  Continuous        None        None  None
6   longitude  Feature  Continuous        None        None  None
7   zon_winds  Feature  Continuous        None        None  None
8   mer_winds  Feature  Continuous        None        None  None
9    humidity  Feature  Continuous        None        None  None
10   air_temp  Feature  Continuous        None        None  None
11    ss_temp  Feature  Continuous        None        None  None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7             yes
8             yes
9             yes
10            yes
11            yes

In [ ]:
# Read the first five rows of the El Nino dataset
remoteStations.head()

,year,month,day,date,latitude,longitude,zon_winds,mer_winds,humidity,air_temp,ss_temp
0,80,3,7,800307,-0.02,-109.46,-6.8,0.7,NaN,26.14,26.24
1,80,3,8,800308,-0.02,-109.46,-4.9,1.1,NaN,25.66,25.97
2,80,3,9,800309,-0.02,-109.46,-4.5,2.2,NaN,25.69,25.28
3,80,3,10,800310,-0.02,-109.46,-3.8,1.9,NaN,25.57,24.31
4,80,3,11,800311,-0.02,-109.46,-4.2,1.5,NaN,25.30,23.19

In [ ]:
# Github cloning data
! wget https://raw.githubusercontent.com/laketalkemp/DATA-302_SP24/main/data/faostat_country_codes.csv

# Convert to dataframes
faostat_country_codes = pd.read_csv("faostat_country_codes.csv")

# Read the first five rows of data
faostat_country_codes.head()

--2024-06-19 19:27:21--  https://raw.githubusercontent.com/laketalkemp/DATA-302_SP24/main/data/faostat_country_codes.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12601 (12K) [text/plain]
Saving to: ‘faostat_country_codes.csv’

faostat_country_cod 100%[===================>]  12.31K  --.-KB/s    in 0s

2024-06-19 19:27:21 (29.3 MB/s) - ‘faostat_country_codes.csv’ saved [12601/12601]

,Country Code,Country,M49 Code,ISO2 Code,ISO3 Code,Start Year,End Year
0,2,Afghanistan,4,AF,AFG,NaN,NaN
1,5100,Africa,2,F5100,X06,NaN,NaN
2,284,Åland Islands,248,F284,ALA,NaN,NaN
3,3,Albania,8,AL,ALB,NaN,NaN
4,4,Algeria,12,DZ,DZA,NaN,NaN

# Lists

In [ ]:
# Creating a list
actors = ["Chadwick Boseman", "Denzel Washington", "Viola Davis"]

# Calling the list to read the contents
actors

['Chadwick Boseman', 'Denzel Washington', 'Viola Davis']

In [ ]:
# Checking the data type of a variable
type(actors)

list

In [ ]:
# Find the item in a list by the index
# Python indexes from zero
# An index of -1 is the last element in the list
actors[-1]

'Viola Davis'

In [ ]:
# Find the item in a list by the index
# Find the first element in the list
actors[0]

'Chadwick Boseman'

In [ ]:
# Create a new list
# A an empty list can be created with empty brackets
new_list = []

# Adding elements to the list
# Call the name of the list and set it equal to the new elements
# A list can be mixed data types
# Elements are added enclosed in square brackets and separated by a comma
# List elements obey data type syntax, strings are enclosed in quotes
new_list = [7, 4.5, "educator", False]

In [ ]:
# A list can be created that iterates through a series
# This is called a list comprehension
# Create a list of elements starting at zero, counting up to 1000, by 100
# Syntax for range function: range(start, stop, step)
my_list = [i for i in range(0,1001,100)]
my_list

[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

In [ ]:
# You can add an element to a list in a particular position
# Call the list name and the index in brackets and set this equal to the value
my_list[3] = "three hundred"
my_list

[0, 100, 200, 'three hundred', 400, 500, 600, 700, 800, 900, 1000]

In [ ]:
# Lists can be concatenated, even with mixed data types
oglist = my_list + new_list
oglist

[0,
 100,
 200,
 'three hundred',
 400,
 500,
 600,
 700,
 800,
 900,
 1000,
 7,
 4.5,
 'educator',
 False]

In [ ]:
# Check the data type of the new list
type(oglist)

list

In [ ]:
# You can create a subset of a list and declare it as a new variable
# Name the new list and set it equal to the slice of the list you want
# The syntax looks like: listName[start:stop]
# The stop is not inclusive, always add one to the stop to make sure your value is included
west_coast = oglist[3:7]
west_coast

['three hundred', 400, 500, 600]

In [ ]:
# You can add to a list using the .append() function
# Appended items are added to the end of the list
west_coast.append("Stinson Beach")
west_coast

['three hundred', 400, 500, 600, 'Stinson Beach']

In [ ]:
# Using the print function is the same as calling a variable
print(west_coast)

['three hundred', 400, 500, 600, 'Stinson Beach']

In [ ]:
# You can remove the last item from the list with .pop()
west_coast.pop()

'Stinson Beach'

In [ ]:
# Check the list again
west_coast

['three hundred', 400, 500, 600]

In [ ]:
# You can add an item to the list with the .insert(index,value) method
west_coast.insert(0,"Stinson Beach")
west_coast

['Stinson Beach', 'three hundred', 400, 500, 600]

In [ ]:
# Now when we use .pop() the last item in the list is removed
# Note this is the last item in the list not the last added item
west_coast.pop()

600

In [ ]:
# Check the list to see where the items are
west_coast

['Stinson Beach', 'three hundred', 400, 500]

In [ ]:
# The .remove() method can remove an item by the value
# We realize the words "three hundred" should not be in the list
west_coast.remove('three hundred')

In [ ]:
# Check the list again to see if "three hundred" is removed
west_coast

['Stinson Beach', 400, 500]

In [ ]:
# Data Scientists use the length function often.
# Check the length of your list using the .len() method.
len(west_coast)

3

In [ ]:
# Check the contents of the list again
west_coast

['Stinson Beach', 400, 500]

#User Defined Functions
Add: Return example.

In [ ]:
#Define a function that has a greeting and allows arguments for name and greeting type.
#Working with functions and arguments
def greetings(name, greeting):
    print(greeting,
          '!',
          name,
          sep = ' ')

greetings('John','Hello')
greetings('Mr. Wick','Salutations')

Hello ! John
Salutations ! Mr. Wick

In [ ]:
# The return function can return a value from a function
# It can also be used to step back in a function to a previous level of a function
# This is a multi-level function we use return to back out to the previous level
import math
def area(x1, y1, x2, y2):
  """Area of a circle function"""
  def radius(x1, y1, x2, y2):
    """Distance formula to determine the radius of a circle"""
    return math.sqrt(math.pow(x2 - x1, 2) + math.pow(y2 - y1, 2))
  return(math.pi * math.pow(radius(x1, y1, x2, y2), 2))

print("The area of your circle is: ", area(0, 0, 4, 4))

The area of your circle is:  100.53096491487341

# Conditional Logic

In [ ]:
# Let's use conditional logic operators to print a statement
n = 12000.01

if n <0:
  print("Your balance is below $0.00, please make a deposit",
        "your current balance is: ", "$", n)
else:
  print("Your current balance is: ","$",
        n)

Your current balance is:  $ 12000.01

In [ ]:
# You can use the same variable in another logic statement.
if n>100:
  print("Your balance is high enough for a savings account.")
else:
  print("Thank you for checking your balance today.")

Your balance is high enough for a savings account.

In [ ]:
# Let's test the same logic with a different n value
n = -12000.01

if n <0:
  print("Your balance is below $0.00, please make a deposit",
        "your current balance is: ", "$", n)
else:
  print("Your current balance is: ","$",
        n)

Your balance is below $0.00, please make a deposit your current balance is:  $ -12000.01

In [ ]:
# What is the outcome of the other logic statement now that n is a different value?
if n>100:
  print("Your balance is high enough for a savings account.")
else:
  print("Thank you for checking your balance today.")

Thank you for checking your balance today.